beautifulsoup4>=4.3.2
boto3>=1.17.21
Django>=1.11
djangorestframework>=3.3.1
django-assets>=0.12
django-storages>=1.13
djaodjin-deployutils>=0.10.5
Jinja2>=2.8
Markdown>=2.4.1
premailer>=2.9.2
requests>=2.22.0
WeasyPrint>=0.42
