# testsite for djaodjin-extended-templates
beautifulsoup4==4.11.1            # 4.11.1 compatibles with Py3.10
bleach==2.0.0
boto3==1.17.21
Django==3.2.14
djangorestframework==3.12.4
django-assets==0.12
django-storages==1.12.3
djaodjin-deployutils==0.9.3
Jinja2==3.1.2                     # 3.1.2 compatibles with Py3.10
Markdown==2.6.11
premailer==3.10.0
python-dateutil==2.8.1
requests==2.26.0
WeasyPrint==53.3

# testsite-only
coverage==6.3.2
django-extensions==3.2.0          # 3.2.0 compatibles with Django==4.0
gunicorn==20.1.0
whitenoise==5.1.0
