# testsite for djaodjin-extended-templates
beautifulsoup4==4.11.1            # 4.11.1 compatibles with Py3.10
bleach==5.0.1
boto3==1.24.56
Django==2.2.28
djangorestframework==3.12.4
django-assets==0.12
django-storages==1.13.1
djaodjin-deployutils==0.10.5
Jinja2==3.1.2                     # 3.1.2 compatibles with Py3.10
Markdown==3.4.1
premailer==3.10.0
python-dateutil==2.8.2
requests==2.28.1
WeasyPrint==56.1

# testsite-only
coverage==6.4.4
django-extensions==3.2.0          # 3.2.0 compatibles with Django==4.0
gunicorn==20.1.0
whitenoise==6.2.0
