{# Scripts that need to be injected into the page actually being edited #}
{# (i.e. iframe or current page).                                       #}

{# PageElement editors #}
<link rel="stylesheet" href="/static/css/djaodjin-editor.css"/><!-- XXX djaodjin-editor -->
<script type="text/javascript" src="/static/vendor/jquery-ui.js"></script><!-- for droppable() -->
<script type="text/javascript" src="/static/vendor/rangy-core.js"></script>
<script type="text/javascript" src="/static/vendor/hallo.js"></script>
<script type="text/javascript" src="/static/vendor/Markdown.Converter.js"></script>
<script type="text/javascript" src="/static/vendor/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="/static/js/djaodjin-editor.js"></script>

{# For the template code editors #}
<script type="text/javascript">
{% if templates %}
templateNames = {{templates|safe}};
{% endif %}

jQuery(document).ready(function($) {
    $('.editable').editor({
      baseUrl: '{{ urls.edit.api_page_element_base }}',
      hints: {{templates|safe}}
    });
  });
</script>

{# For the style editors #}
<script type="text/javascript">
less = {
    env: "development",
    async: false,
    fileAsync: false,
    functions: {},
    dumpLineNumbers: "comments",
    relativeUrls: false,
    rootpath: "/static/vendor/less/",
    onReady: false
};
</script>
